img{
    height: 300px;
    width: 600px;

}
h1{
    text-align: center;
    color: white;
}
body{
    background: linear-gradient(90deg , rgb(167, 232, 243) , rgb(100, 202, 250) );
}img{
    text-align: center;
    display: block;
}
a{
    text-align: center;
    display: block;

}